.baseBox{
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    color: rgb(0, 0, 0);
    
    .title{
        border-left:solid 3px rgb(0, 0, 0);
    }
}
.dispalyNone{
    display: none;
    
}